<div id='landing-header'>
<section id="lab_social_icon_footer">
<!-- Include Font Awesome Stylesheet in Header -->

<div class="container">
        <div class="text-center center-block">
                <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fab fa-facebook-square fa-4x social"></i></a>
	            <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fab fa-twitter-square fa-4x social"></i></a>
	            <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fab fa-google-plus-square fa-4x social"></i></a>
	            <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-4x social"></i></a>
    </div>
</div>
</section>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script href="../views/partials/javaScript.js" type='javaScript'></script>
</body>
</html>